<?php
  class DB{
    public const name  = '';
    public const user  = '';
    public const pass  = '';
  }
  class Email{
    public const login = 'admin@localhost';
    public const pw = 'password';
    public const host = 'localhost';
    public const SMTPAuth = 'true';
    public const SMTPSecure = 'tls';
    public const port = '587';
  }

 ?>
