<?php
  date_default_timezone_set('America/Los_Angeles');
  class DB{
    const bin_path = 'C:/mysql/bin/';
    const host  = 'localhost';
    const db_name  = '';
    const user  = '';
    const pass  = '';
  }
  class Email{
    const login = 'admin@localhost';
    const pw = 'password';
    const host = 'localhost';
    const SMTPAuth = true;
    const SMTPSecure = 'tls';
    const port = 587;
  }
  class MailGunConfig{
    const api = 'key-';
    const domain = 'localhost';
    const from = 'server@localhost';
    const subject = '[Server Report]';
  }
  class LoggerConfig{
    public const save_path = '';
  }

 ?>
